<form id="salary-form" class="validate">
	<div class="col-12 col-sm-12 col-md-8 col-lg-6">
		<div class="row">
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label for="profession">{{ .Params.professionSpecific }}</label>
					<input type="text" class="form-control" id="profession" name="Profession" placeholder="{{ .Params.professionSpecific_Placeholder }}" required>
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label for="profession-category">{{ .Params.professionCategory }}</label>
					<select type="text" class="form-control" id="profession-category" name="ProfessionCategory" placeholder="{{ .Params.professionCategory_Placeholder }}" required>
						<option hidden selected disabled value="">{{ .Params.professionCategory_Placeholder }}</option>
						{{ range  $index, $element := .Params.professionCategories }}
						<option data="{{ $index }}">{{ $element.name }}</option>
						{{ end }}
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label for="income">{{ .Params.income }}</label>
					<input type="number" class="form-control" id="income" name="Income" min="1" max="2147483647" placeholder="{{ .Params.income_Placeholder }}" required>
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label for="employmentType">{{ .Params.employmentType }}</label>
					<select type="text" class="form-control" id="employmentType" name="EmploymentType" placeholder="{{ .Params.employmentType_Placeholder }}" required>
						<option hidden selected disabled value="">{{ .Params.employmentType_Placeholder }}</option>
						{{ range  $index, $element := .Params.employmentTypes }}
						<option data="{{ $index }}">{{ $element.name }}</option>
						{{ end }}
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label for="age">{{ .Params.age }}</label>
					<input type="number" class="form-control" id="age" name="Age" min="18" max="100" placeholder="{{ .Params.age_Placeholder }}" required>
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label for="experience">{{ .Params.experience }}</label>
					<input type="number" class="form-control" id="experience" name="Experience" min="0" max="100" step="0.1" placeholder="{{ .Params.experience_Placeholder }}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label for="employmentPlace">{{ .Params.employmentPlace }}</label>
					<input type="text" class="form-control" id="gender" name="EmploymentPlace" placeholder="{{ .Params.employmentPlace_Placeholder }}" required>
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label for="gender">{{ .Params.gender }}</label>
					<select type="text" class="form-control" id="gender" name="Gender" placeholder="{{ .Params.gender_Placeholder }}" required>
						<option hidden selected disabled value="">{{ .Params.gender_Placeholder }}</option>
						{{ range  $index, $element := .Params.genderTypes }}
						<option data="{{ $index }}">{{ $element.name }}</option>
						{{ end }}
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="additionalInfo">{{ .Params.additionalInfo }}</label>
					<input type="text" class="form-control" id="additionalInfo" name="AdditionalInfo" placeholder="{{ .Params.additionalInfo_Placeholder }}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group pull-right">
					<button id="submit" class="btn btn-primary btn-form" type="submit">{{ .Params.buttonSend }}</button>
				</div>
			</div>
		</div>
	</div>
</form>